ProjekatIST/AdminKlijent/Service References/BioskopService/ProjekatIST.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProjekatIST.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProjekatIST.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKorisnik">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Korisnik" nillable="true" type="tns:Korisnik" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKorisnik" nillable="true" type="tns:ArrayOfKorisnik" />
  <xs:complexType name="Korisnik">
    <xs:sequence>
      <xs:element minOccurs="0" name="KorisnickoIme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lozinka" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Korisnik" nillable="true" type="tns:Korisnik" />
  <xs:complexType name="ArrayOfProjekcija">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Projekcija" nillable="true" type="tns:Projekcija" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjekcija" nillable="true" type="tns:ArrayOfProjekcija" />
  <xs:complexType name="Projekcija">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrojMesta" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sala" type="xs:int" />
      <xs:element minOccurs="0" name="Vreme" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_projekcija" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Projekcija" nillable="true" type="tns:Projekcija" />
</xs:schema>