ProjekatIST/AdminKlijent/Service References/BioskopService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Bioskop" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAdminBioskop_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ProjekatIST.Model" />
      <xsd:import namespace="Opa" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminBioskop_ObrisiKorisnika_InputMessage">
    <wsdl:part name="parameters" element="tns:ObrisiKorisnika" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_ObrisiKorisnika_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObrisiKorisnikaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_VratiKorisnike_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiKorisnike" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_VratiKorisnike_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiKorisnikeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_ObrisiRezervaciju_InputMessage">
    <wsdl:part name="parameters" element="tns:ObrisiRezervaciju" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_ObrisiRezervaciju_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObrisiRezervacijuResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_VratRezervacijae_InputMessage">
    <wsdl:part name="parameters" element="tns:VratRezervacijae" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_VratRezervacijae_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratRezervacijaeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_ObrisiProjekciju_InputMessage">
    <wsdl:part name="parameters" element="tns:ObrisiProjekciju" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_ObrisiProjekciju_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObrisiProjekcijuResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_Prijava_InputMessage">
    <wsdl:part name="parameters" element="tns:Prijava" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_Prijava_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrijavaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_slobodnaIZauzetaMesta_InputMessage">
    <wsdl:part name="parameters" element="tns:slobodnaIZauzetaMesta" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_slobodnaIZauzetaMesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:slobodnaIZauzetaMestaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_RezervacijaKarte_InputMessage">
    <wsdl:part name="parameters" element="tns:RezervacijaKarte" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_RezervacijaKarte_OutputMessage">
    <wsdl:part name="parameters" element="tns:RezervacijaKarteResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_UnosKarata_InputMessage">
    <wsdl:part name="parameters" element="tns:UnosKarata" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_UnosKarata_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnosKarataResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_RezervacijeKojeIsticu_InputMessage">
    <wsdl:part name="parameters" element="tns:RezervacijeKojeIsticu" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_RezervacijeKojeIsticu_OutputMessage">
    <wsdl:part name="parameters" element="tns:RezervacijeKojeIsticuResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_UnosProjekcija_InputMessage">
    <wsdl:part name="parameters" element="tns:UnosProjekcija" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_UnosProjekcija_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnosProjekcijaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_IzmenaProjekcije_InputMessage">
    <wsdl:part name="parameters" element="tns:IzmenaProjekcije" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_IzmenaProjekcije_OutputMessage">
    <wsdl:part name="parameters" element="tns:IzmenaProjekcijeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_UnosKorisnika_InputMessage">
    <wsdl:part name="parameters" element="tns:UnosKorisnika" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_UnosKorisnika_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnosKorisnikaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_IzmenaKorisnika_InputMessage">
    <wsdl:part name="parameters" element="tns:IzmenaKorisnika" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_IzmenaKorisnika_OutputMessage">
    <wsdl:part name="parameters" element="tns:IzmenaKorisnikaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_VratiProjekcije_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiProjekcije" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_VratiProjekcije_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiProjekcijeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_VratiKorisnikoveRezervacije_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiKorisnikoveRezervacije" />
  </wsdl:message>
  <wsdl:message name="IAdminBioskop_VratiKorisnikoveRezervacije_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiKorisnikoveRezervacijeResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminBioskop">
    <wsdl:operation name="ObrisiKorisnika">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminBioskop/ObrisiKorisnika" message="tns:IAdminBioskop_ObrisiKorisnika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminBioskop/ObrisiKorisnikaResponse" message="tns:IAdminBioskop_ObrisiKorisnika_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiKorisnike">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminBioskop/VratiKorisnike" message="tns:IAdminBioskop_VratiKorisnike_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminBioskop/VratiKorisnikeResponse" message="tns:IAdminBioskop_VratiKorisnike_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObrisiRezervaciju">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminBioskop/ObrisiRezervaciju" message="tns:IAdminBioskop_ObrisiRezervaciju_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminBioskop/ObrisiRezervacijuResponse" message="tns:IAdminBioskop_ObrisiRezervaciju_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratRezervacijae">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminBioskop/VratRezervacijae" message="tns:IAdminBioskop_VratRezervacijae_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminBioskop/VratRezervacijaeResponse" message="tns:IAdminBioskop_VratRezervacijae_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObrisiProjekciju">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminBioskop/ObrisiProjekciju" message="tns:IAdminBioskop_ObrisiProjekciju_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminBioskop/ObrisiProjekcijuResponse" message="tns:IAdminBioskop_ObrisiProjekciju_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Prijava">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminBioskop/Prijava" message="tns:IAdminBioskop_Prijava_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminBioskop/PrijavaResponse" message="tns:IAdminBioskop_Prijava_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="slobodnaIZauzetaMesta">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminBioskop/slobodnaIZauzetaMesta" message="tns:IAdminBioskop_slobodnaIZauzetaMesta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminBioskop/slobodnaIZauzetaMestaResponse" message="tns:IAdminBioskop_slobodnaIZauzetaMesta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RezervacijaKarte">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminBioskop/RezervacijaKarte" message="tns:IAdminBioskop_RezervacijaKarte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminBioskop/RezervacijaKarteResponse" message="tns:IAdminBioskop_RezervacijaKarte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnosKarata">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminBioskop/UnosKarata" message="tns:IAdminBioskop_UnosKarata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminBioskop/UnosKarataResponse" message="tns:IAdminBioskop_UnosKarata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RezervacijeKojeIsticu">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminBioskop/RezervacijeKojeIsticu" message="tns:IAdminBioskop_RezervacijeKojeIsticu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminBioskop/RezervacijeKojeIsticuResponse" message="tns:IAdminBioskop_RezervacijeKojeIsticu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnosProjekcija">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminBioskop/UnosProjekcija" message="tns:IAdminBioskop_UnosProjekcija_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminBioskop/UnosProjekcijaResponse" message="tns:IAdminBioskop_UnosProjekcija_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IzmenaProjekcije">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminBioskop/IzmenaProjekcije" message="tns:IAdminBioskop_IzmenaProjekcije_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminBioskop/IzmenaProjekcijeResponse" message="tns:IAdminBioskop_IzmenaProjekcije_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnosKorisnika">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminBioskop/UnosKorisnika" message="tns:IAdminBioskop_UnosKorisnika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminBioskop/UnosKorisnikaResponse" message="tns:IAdminBioskop_UnosKorisnika_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IzmenaKorisnika">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminBioskop/IzmenaKorisnika" message="tns:IAdminBioskop_IzmenaKorisnika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminBioskop/IzmenaKorisnikaResponse" message="tns:IAdminBioskop_IzmenaKorisnika_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiProjekcije">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminBioskop/VratiProjekcije" message="tns:IAdminBioskop_VratiProjekcije_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminBioskop/VratiProjekcijeResponse" message="tns:IAdminBioskop_VratiProjekcije_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiKorisnikoveRezervacije">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminBioskop/VratiKorisnikoveRezervacije" message="tns:IAdminBioskop_VratiKorisnikoveRezervacije_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminBioskop/VratiKorisnikoveRezervacijeResponse" message="tns:IAdminBioskop_VratiKorisnikoveRezervacije_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAdminBioskop" type="tns:IAdminBioskop">
    <wsp:PolicyReference URI="#NetTcpBinding_IAdminBioskop_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ObrisiKorisnika">
      <soap12:operation soapAction="http://tempuri.org/IAdminBioskop/ObrisiKorisnika" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiKorisnike">
      <soap12:operation soapAction="http://tempuri.org/IAdminBioskop/VratiKorisnike" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObrisiRezervaciju">
      <soap12:operation soapAction="http://tempuri.org/IAdminBioskop/ObrisiRezervaciju" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratRezervacijae">
      <soap12:operation soapAction="http://tempuri.org/IAdminBioskop/VratRezervacijae" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObrisiProjekciju">
      <soap12:operation soapAction="http://tempuri.org/IAdminBioskop/ObrisiProjekciju" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Prijava">
      <soap12:operation soapAction="http://tempuri.org/IAdminBioskop/Prijava" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="slobodnaIZauzetaMesta">
      <soap12:operation soapAction="http://tempuri.org/IAdminBioskop/slobodnaIZauzetaMesta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RezervacijaKarte">
      <soap12:operation soapAction="http://tempuri.org/IAdminBioskop/RezervacijaKarte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnosKarata">
      <soap12:operation soapAction="http://tempuri.org/IAdminBioskop/UnosKarata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RezervacijeKojeIsticu">
      <soap12:operation soapAction="http://tempuri.org/IAdminBioskop/RezervacijeKojeIsticu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnosProjekcija">
      <soap12:operation soapAction="http://tempuri.org/IAdminBioskop/UnosProjekcija" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IzmenaProjekcije">
      <soap12:operation soapAction="http://tempuri.org/IAdminBioskop/IzmenaProjekcije" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnosKorisnika">
      <soap12:operation soapAction="http://tempuri.org/IAdminBioskop/UnosKorisnika" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IzmenaKorisnika">
      <soap12:operation soapAction="http://tempuri.org/IAdminBioskop/IzmenaKorisnika" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiProjekcije">
      <soap12:operation soapAction="http://tempuri.org/IAdminBioskop/VratiProjekcije" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiKorisnikoveRezervacije">
      <soap12:operation soapAction="http://tempuri.org/IAdminBioskop/VratiKorisnikoveRezervacije" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Bioskop">
    <wsdl:port name="NetTcpBinding_IAdminBioskop" binding="tns:NetTcpBinding_IAdminBioskop">
      <soap12:address location="net.tcp://127.0.0.1:5678/ProjekatIST/Bioskop/Rezervacija" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:5678/ProjekatIST/Bioskop/Rezervacija</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>TLALOC\Sinisa</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>